*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.jar
!gradle/wrapper/gradle-wrapper.jar
lint
*.dex
*.class
bin/
gen/
classes/
gen-external-apklibs/
target
local.properties
.classpath
.project
.metadata
.settings
.idea
*.iml
Thumbs.db
*.swp
*.bak
.gradle
build/
.jira-url
atlassian-ide-plugin.xml